/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    background-color: #121212;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiar a flex-start */
    height: 100vh;
    min-height: 100vh;
}


/* Estilo para el contenedor principal */
.container {
    background-color: #00b4d8; /* Fondo semi-transparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 116, 139, 0.5); /* Sombra */
    text-align: center;
    max-width: 400px; /* Ancho máximo del contenedor */
    color: #333; /* Color de texto para el modo nocturno */
    margin-top: 15px;
}

/* Estilo para el título "Registro de Usuario" */
.container h2 {
    font-size: 28px;
    color: #2b2d42; /* Color de texto para el modo nocturno */
    margin: 0 0 20px; /* Espacio inferior reducido */
}

/* Estilo para los grupos de formulario */
.form-group {
    margin-bottom: 20px; /* Espacio inferior aumentado */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el formulario y sus elementos */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #2b2d42; /* Color de texto para el modo nocturno */
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Color de fondo para los campos de entrada en el modo nocturno */
    color: #2b2d42; /* Color de texto para los campos de entrada en el modo nocturno */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el enlace "Iniciar Sesión" */
a {
    text-decoration: none;
    color: #2b2d42;
    font-weight: bold;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Estilo específico para la página Home */
.home-container {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    width: 1366px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background-color: #333;
    color: #fff;
    height: 60px; /* Agrega una altura al encabezado */
}


.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.user-avatar {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.user-options {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333; /* Color de fondo para el menú de usuario en el modo nocturno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.user-avatar:hover .user-options {
    display: flex;
}

.user-options span {
    margin-bottom: 5px;
}

.user-options button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.search-bar button{
    margin-left: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Color de fondo para el campo de búsqueda en el modo nocturno */
    color: #2b2d42; /* Color de texto para el campo de búsqueda en el modo nocturno */
}

button {
    background-color: #0052a5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 20px;
    align-items: center;
}

select {
    padding: 5px;
    background-color: #333; /* Color de fondo para los selectores en el modo nocturno */
    color: #fff; /* Color de texto para los selectores en el modo nocturno */
}

/* Estilos para las publicaciones */
.main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-height: 80vh; /* Establece una altura máxima para el contenedor de publicaciones */
    overflow-y: auto;
}



/* Estilos para las publicaciones */
.publication {
    width: 1000px;
    max-width: 1200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px; /* Agrega un margen inferior para separar las publicaciones */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    background-color: #333; /* Color de fondo para las publicaciones en el modo nocturno */
    color: #fff; /* Color de texto para las publicaciones en el modo nocturno */
}


.publication .content{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilo para la información del usuario dentro de la publicación */
.publication .user-info {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente al centro */
    width: 100%;
    justify-content: space-between; /* Espaciado uniforme entre los elementos */
}

/* Estilo para la fecha dentro de la información del usuario */
.publication .user-info .date {
    margin-left: auto;
}

/* Estilo para la foto del usuario dentro de la información del usuario */
.publication .user-info .foto {
    margin-right: 10px;
}

.publication button{
    margin: 0 auto;
}


.user-info {
    display: flex;
    align-items: center;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.floating-button:hover {
    background-color: #005aa8;
}

/* Estilos para el contenedor de la caja de texto y el botón de comentarios */
.add-comment {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos en el contenedor */
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para la caja de texto de comentarios */
.add-comment textarea {
    width: 975px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite redimensionar verticalmente si es necesario */
    margin-bottom: 10px; /* Agrega un margen inferior para separar la caja de texto del botón */
}

/* Estilos para el botón de enviar comentarios */
.add-comment button[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

  
  /* Estilo cuando el cursor está sobre el botón */
  .add-comment button[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
  }

  .comment-item {
    margin-bottom: 15px; /* Ajusta el valor según la separación vertical deseada */
  }

  .comments button{
    background-color: rgb(255, 79, 79);
  }

  .nueva-publicacion {
    background-color: #00b4d8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Ajusta el ancho según tus necesidades */
  }
  
  
  .nueva-publicacion h2 {
    font-size: 24px; /* Tamaño de fuente del título */
    margin-bottom: 20px; /* Espaciado inferior del título */
    color: #2b2d42
  }
  
  /* Estilos para los elementos del formulario */
  .nueva-publicacion .form-group {
    margin-bottom: 15px; /* Espaciado inferior entre grupos de elementos */
  }
  
  .nueva-publicacion .form-group label {
    display: block; /* Hace que las etiquetas ocupen todo el ancho disponible */
    margin-bottom: 5px; /* Espaciado inferior de la etiqueta */
    color: #2b2d42
  }
  
  .nueva-publicacion select, input[type="number"], textarea {
    width: 100%; /* Ancho completo dentro del formulario */
    padding: 10px; /* Espaciado interior */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  .nueva-publicacion textarea {
    resize: vertical; /* Permite ajustar la altura verticalmente */
  }
  
  /* Estilos para los botones */
  .botones {
    text-align: right; /* Alinea los botones a la derecha */
    margin-top: 20px; /* Espaciado superior entre botones */
  }
  
  .botones button {
    padding: 10px 20px; /* Espaciado interior del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-left: 10px; /* Espaciado izquierdo entre botones */
  }
  
  .botones button[type="submit"] {
    background-color: #28a745; /* Color de fondo verde para el botón de "Publicar" */
  }
  
  .botones button[type="submit"]:hover {
    background-color: #18752e; /* Color de fondo azul más oscuro al pasar por encima */
  }

  .botones .btnCancelar:hover {
    background-color: rgb(39, 67, 92); /* Color de fondo gris más oscuro al pasar por encima */
  }

  .container-user-profile {
    background-color: #00b4d8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 116, 139, 0.5);
    text-align: center;
    max-width: 800px;
    color: #333;
    margin-top: 50px;
    width: 700px;
  }

  .container-user-profile h1 {
    font-size: 28px;
    color: #2b2d42;
    margin: 0 0 20px;
  }

  .user-profile-info {
    background-color: #fff; /* Fondo blanco para la información del usuario */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
    color: #333;
  }


  .user-profile-info h2 {
    font-size: 20px;
    color: #2b2d42;
    margin-bottom: 20px;
  }

  /* Estilos para los datos del usuario */
  .user-profile-info p {
    font-weight: bold;
    color: #2b2d42;
    margin-bottom: 10px;
  }

  .container-user-profile ul {
    list-style: none;
    padding: 10px;
    margin: 20px;
    text-align: left;
  }
  
  .container-user-profile ul li {
    line-height: 2; /* Ajusta el valor según la separación deseada */
    font-weight: bold;
  }
  
  /* Estilo para el botón "Volver" */
  .user-profile-info .btnVolver {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
  }
  
  /* Estilo cuando el cursor está sobre el botón "Volver" */
  .user-profile-info .btnVolver:hover {
    background-color: #0056b3;
  }

  /* Estilos para el contenedor principal de MyProfile */
.my-profile-container {
  background-color: #00b4d8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 116, 139, 0.5);
  text-align: center;
  max-width: 600px;
  color: #333;
  margin: 20px auto;
}

/* Estilo para el título "Lista de Cursos" */
.my-profile-container h2 {
  font-size: 24px;
  color: #2b2d42;
  margin-bottom: 20px;
}

/* Estilos para los campos editables */
.my-profile-container input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #2b2d42;
  margin-bottom: 15px;
}

/* Estilo para el botón "Guardar Cambios" */
.my-profile-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.my-profile-container button:hover {
  background-color: #0056b3;
}

/* Estilos para las listas de cursos */
.my-profile-container ul {
  list-style: none;
  padding: 0;
}

.my-profile-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Estilos para los botones "Agregar" y "Quitar" cursos */
.my-profile-container button.toggle-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.my-profile-container button.toggle-button.remove {
  background-color: rgb(255, 79, 79);
}

.my-profile-container button.toggle-button:hover {
  background-color: #0056b3;
}

/* Estilo para el párrafo "Total de Créditos" */
.my-profile-container p.total-credits {
  font-weight: bold;
  margin-top: 10px;
  color: #2b2d42;
}
